body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 10vh;
    color: white;
}


.menu{
    position: absolute;
    width: 100%
}

.menu a{
    position: relative;
    left: 35%;
    top: 20px;
    color: white;
    text-decoration: none;
    margin-right: 20px;

}

p.ppp {
    font-size: 20px;
    background: linear-gradient(white, white) padding-box, linear-gradient (98deg, darkblue, darkorchid) border-box;
    border-width: 6px;
    border-style: solid;
    border-color: transparent;
    border-radius: 0.4em;
}


html {
    height: 100%;
    text-align: center;
    }
    body{
    background-image: linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89));
    }
 

ul { 
    list-style-type: square;
}

ol { 
    list-style-type: upper-alpha;
}

