h1 {
    font-size: 20px;
}

p {
    color: green;
    font-size: 12px;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
}

.luokan-nimi {    
    border-style: dotted;
    border-width: 2px;
    height: 100px;
    width: 100px;
}

#linkitys{ 
	position:fixed; 
	top:0; 
	left:0; 
    padding: 1px 2px 3px 4px;
} 

ul { 
    list-style-type: square;
}

ol { 
    list-style-type: upper-alpha;
}